

.tile:hover {
	background-color: #cccccc;
}

.tile {
	width: 150px;
	border: 1px solid #cccccc;
	height: 150px;
	padding: 10px;

}

.tile_head {
	font-size: 24pt;
	color: #cccccc;

}

.section_question {
	font-size: 24pt;
	color: #cccccc;
}
